# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Mobile
mobile/.expo/
mobile/.expo-shared/
mobile/dist/
mobile/web-build/

# Backend
backend/.strapi-updater.json
backend/.tmp/
backend/build/
backend/exports/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
